<div class="panel panel-default admin-custom-panel admin-changefont-medium">
  <!-- Default panel contents -->  
<div class="panel-heading admin-custom-panel-heading">> ĐĂNG KÍ MỚI</div>
    <form name="userForm" ng-submit="submitForm()" novalidate style="margin-top:20px;">
    <div>
        <div class="col-lg-6">
            <!-- IMAGE -->        
            <div class="upload-div">        
            <div class="form-group" ng-class="{ 'has-error': userForm.image.$invalid && !userForm.image.$pristine }">
                <input name="image" type="file" ng-file-select="onFileSelect($files)" ng-model="user.image" required>     
                <div ng-show="dropSupported && (selectedFiles == null)" class="drop-box" ng-file-drop="" ng-file-drop-available="dropSupported=true">+</div>        
                <div ng-show="selectedFiles != null">
                    <div class="sel-file" ng-repeat="f in selectedFiles">
                        <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
                    </div>
                </div>               
            </div>     
            </div>
            <br/>        
            <!-- USERNAME -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <label>Tài khoản</label>
                <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="30" placeholder="Tên tài khoản" required>
                <p ng-show="userForm.username.$error.required && !userForm.username.$pristine" class="help-block">Bạn cần nhập tên tài khoản.</p>
                <p ng-show="userForm.username.$error.minlength" class="help-block">Tên tài khoản quá ngắn.</p>
                <p ng-show="userForm.username.$error.maxlength" class="help-block">Tên tài khoản quá dài.</p>                
            </div>            
            <!-- PASSWORD -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <label>Mật khẩu</label>
                <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="3" ng-maxlength="30" placeholder="Mật khẩu" required>
                <p ng-show="userForm.password.$error.required && !userForm.password.$pristine" class="help-block">Bạn cần nhập mật khẩu.</p>
                <p ng-show="userForm.password.$error.minlength" class="help-block">Mật khẩu quá ngắn.</p>
                <p ng-show="userForm.password.$error.maxlength" class="help-block">Mật khảu quá dài.</p>

            </div>
            <!-- CONFIRM -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.confirm_password.$invalid && !userForm.confirm_password.$pristine }">
                <label>Xác nhận mật khẩu</label>
                <input ng-model='user.confirm_password' class="form-control" type="password" name="confirm_password" placeholder='Xác nhận mật khẩu' data-password-verify="user.password" required >                        
                <p ng-show="userForm.confirm_password.$error.passwordVerify && !userForm.confirm_password.$pristine" class="help-block">Xác nhận mật khẩu chưa đúng.</p>
            </div>
            <!-- NAME -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>Họ và tên</label>
                <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Họ và tên" required>
                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Bạn cần nhập họ và tên.</p>
            </div>
            <!-- BIRTHDAY -->                
            <!-- PHONE -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
                <label>Điện thoại</label>
                <input type="text" name="phone" class="form-control" ng-model="user.phone" placeholder="Số điện thoại"  ng-pattern="/^[0-9]{1,12}$/">            
                <p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine" class="help-block">Bạn cần nhập số điện thoại đúng.</p>
            </div>
            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Nhập email">
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Bạn cần nhập email đúng.</p>
            </div>
            <!-- ADDRESS -->
            <!--<div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine }">
                <label>Địa chỉ</label>
                <input type="text" name="address" class="form-control" ng-model="user.address" placeholder="Nhập địa chỉ">
            </div>
            -->        
        </div>
        <div id="wrap" class="col-lg-6">
            <div style="width:100%;">
                <div class="row" style="margin-top:20px; padding-left:15px; padding-right:15px;">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" style="margin-bottom:3px;" placeholder="Nhập địa chỉ" data-ng-model="user.address"/>
                    <button class="btn btn-info" data-ng-click='setDirections()' style="margin-bottom:3px;" ><i class="icon-search"></i>Cập nhật</button><i>(để trống ô "địa chỉ" rồi bấm "cập nhật" để lấy vị trí hiện tại)</i>
                </div>
                <div class='row' style="height: 5px;">
                </div>
                <div class='row' style="padding-left:15px; padding-right:15px;">
                    <div class="col-lg-12" id="map_canvas" style="height: 480px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: inline-block; margin-top: 23px; margin-left:15px;">
        <button ng-disabled="!userForm.$valid" class="btn btn-primary" ng-click="ok()">Đồng ý</button>
        <button ng-click="clearAll()" role="button"  class="btn btn-warning">Hủy bỏ</button>
        <button ng-click="backToDetail()" role="button"  class="btn btn-success">Trở về.</button>
    </div>    
    </form>
</div>
</div>
</div>