<div class="panel panel-default admin-custom-panel">
  <!-- Default panel contents -->    
    <div class="panel-heading admin-custom-panel-heading">> CHI TIẾT THÀNH VIÊN</div>    
    <div class="row padnonbot20">
        <div class="col-xs-12">            
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail admin-custom-thumbnail pull-left">
                        <img class="media-object" width=100 ng-src="assets/img/avatars/{{user.user_picture}}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{user.user_fullname}} <a href="#admin/user/update"><input class="btn btn-default btn-update-custom" type=button value="cập nhật" ng-show="user.id == currentUserId"></input></a></h4>
                        <i style="font-size:12px;">{{user.user_address}}</i><br><br>
                        <p><span class="label label-danger">Nhất {{alert0.0.max}} xu</span> <span class="label label-success">Hiện tại {{alert0.0.current}} xu</span> <span class="label label-primary" ng-show="user.user_facebook"><a href="{{user.user_facebook}}" target="Starfall">facebook</a></span> <span class="label label-info" ng-show="user.user_email"><a href="mailto:{{user.user_email}}">{{user.user_email}}</a></span> <span class="label label-default" ng-show="user.user_phone">{{user.user_phone}}</span></p>
                        <p>
                            <input class="btn btn-default admin-btn-custom" type=button id="editRowBtn{{user.id}}" value="xem"
                                                      ng-click="showOrderDetails(user.id)"></input>
                            <input class="btn btn-default admin-btn-custom" type=button id="editRowBtn{{user.id}}" value="hủy"
                                                      ng-click="showOrderDetails(-1)"></input>                         
                        </p>
                    </div>
                </div>
                <div>
                    <div class="disinl pad3" ng-repeat="orderDetail in orderDetails"><img width=50 height=50 ng-class="{'borbla': orderDetail.order_status == 1, 'borblu': orderDetail.order_status == 2 || orderDetail.order_status == 3, 'borred': orderDetail.order_status == 4}" id="{{ item.id }}" ng-src="assets/img/images/resized/product/resized-{{orderDetail.product_picture}}" 
                        title="[số tiền] {{orderDetail.product_price}}&#10;[ngày   ] {{orderDetail.created_at}}&#10;[mô tả ] {{orderDetail.order_decription}}&#10;[địa chỉ] {{orderDetail.order_address}}"><span class="probag">{{orderDetail.product_count}}</span>
                    </div>                   
                </div>   
            </div>            
        </div>        
    </div>           
    <div style="width:100%; height:800px;">
    <div google-chart chart="chart" style="height:600px; width:70%; float:left;"></div> 
        <div class="col-md-3 show-grid" style="height:600px; font-size:14px; width: 30%; float:left;">
           <br><br><br><br>
           <b>Định hướng phát triển</b>
           <br><br>            
            <!--<div><span class="label label-default">Default</span></div>-->
            <div class="alert alert-warning"><strong>Tháng cao nhất </strong>doanh số là <strong>{{alert0.0.max}}(xu)</strong> trung bình <strong>{{alert0.0.max/30 | number:2}}(xu/ngày)</strong> thu nhập thụ động <strong>{{alert0.0.max * 6000 * 1.3 | number:2}}(vnd)</strong></div>
            <div class="alert alert-success"><strong>Tháng hiện tại </strong>doanh số là <strong>{{alert0.0.current}}(xu)</strong> trung bình <strong>{{alert0.0.current/alert0.currentDay | number:2}}(xu/ngày)</strong> thu nhập có thể đạt <strong>{{(alert0.0.current/alert0.currentDay) * 6000 * 30 * 1.3 | number:2}}(vnd)</strong></div>            
            <div ng-show="alert0.0.max != alert0.0.current" class="alert alert-danger"><strong>Định hướng </strong> hiện tại <strong>{{alert0.0.current/alert0.currentDay | number:2}}(xu/ngày)</strong> so với tháng cao nhất <strong>{{alert0.0.max/30 | number:2}}(xu/ngày)</strong> {{alert0.0.user}} cần đạt <strong>{{(alert0.0.max - alert0.0.current)/(31 - alert0.currentDay) | number:2}}(xu/ngày)</strong> trong những ngày tới</div>               
            <div class="alert alert-danger" ng-show="(orderDetailsInMonth.total/200000 < 10)"><strong>{{orderDetailsInMonth.user}}</strong> doanh số cá nhân <strong>{{orderDetailsInMonth.total/200000 | number:2}}(xu)</strong> cần bán thêm <strong>{{10 - (orderDetailsInMonth.total/200000) | number:2}}(xu)</strong> để đủ <strong>10(xu)</strong></div>                           
            <div class="alert alert-info" ng-show="alert0.1.id"><strong>Gợi ý </strong> nên giúp các thành viên<br>
                <i ng-repeat="perAlert in alert0"><span ng-show="(!(perAlert.id == currentUserId) && typeof(perAlert.id) != 'undefined' && perAlert.id !== null && ((perAlert.current < perAlert.max) || (perAlert.current < 45)))"><a href="#/admin/user/detail/{{perAlert.id}}">{{perAlert.user}}</a> hiện tại <span ng-show="perAlert.max"> <strong>{{perAlert.current}}(x)</strong> ~ <strong>{{perAlert.current/alert0.currentDay | number:2}}(x/n)</strong> cao nhất <strong>{{perAlert.max}}(x)</strong> ~ <strong>{{perAlert.max/30 | number:2}}(x/n) </span> <span ng-show="!perAlert.max"> chưa phát triển </span></strong><br></span></i>
            </div>         
            <div class="alert alert-info" ng-show="!alert0.1.id"><strong>Gợi ý </strong><br> Liên hệ người giới thiệu để được hỗ trợ <br> Tuyển, cấp tài khoản cho thành viên mới<br>
            </div>
        </div>
        <div google-chart chart="chart1" style="height:600px; width:70%; float:left; margin-bottom:10px;"></div>           
    </div>
</div>